node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Frontend
frontend/node_modules
frontend/build
frontend/dist
frontend/.env
frontend/.env.local

# OS
.DS_Store
*.log

